body{
  height: 100vh;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
}

body.block-scroll{
  overflow: hidden;
}

body::before, body::after {
  content: "";
  display: flex;
  height: 10px;
  width: 100%;
  background-image: linear-gradient(
    to right, 
    hsl(46, 94%, 51%) 0%, 
    hsl(271, 100%, 45%) 25%, 
    hsl(194, 100%, 47%) 50%, 
    hsl(358, 84%, 45%) 75%,
    hsl(358, 84%, 45%) 100%
  );
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}




